[submodule "HiveEngine/dep/glfw"]
	path = HiveEngine/dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HiveEngine/dep/entt"]
	path = HiveEngine/dep/entt
	url = https://github.com/skypjack/entt.git
[submodule "HiveEngine/dep/glm"]
	path = HiveEngine/dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "Test/dep/googletest"]
	path = Test/dep/googletest
	url = https://github.com/google/googletest.git
[submodule "HiveEngine/dep/easy_profiler"]
	path = HiveEngine/dep/easy_profiler
	url = https://github.com/yse/easy_profiler
